.caixa {
	padding: 60px 0;
	border-bottom: 20px solid rgb(105, 105, 105);
}

#home{
	padding-top: 60px;
}

#loading{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  transform: scale(4);
}

.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #ffff;
  border-radius: 50%;
  border-top-color: #727272;
  height: 50px;
  width: 50px;
}

footer p a {
	margin: 5px;
}

#animated-title{
  margin:0px;
  overflow:hidden;
  white-space: nowrap;
}

#animated-title:first-of-type {
  animation: showup 5s alternate;
}

#animated-title:last-of-type {
  width:0px;
  animation: reveal 5s forwards;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

@keyframes showup {
    0% {opacity:0;}
		50% {opacity: 1;}
    100% {opacity:1;}
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
		25% {opacity: 1; width: 0;}
		50% {opacity: 1;width: 130px;}
    100% {opacity: 1;width: 300px;}
}


